*{
  font-family: arial;
  color: white;
}

body{
  margin: 0;
  padding: 0;
}

.content{
  background: #2D2B4F;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.navClose{
  color: red;
  position: absolute;
  right: 25px;
  top: 0px;
  cursor: pointer;
  font-size: 18pt;
}

.nav{
  background: #494677;
  height: 100%;
  position: fixed;
  padding-top: 25px;
  display: block;
  z-index: 1;
  top: 0;
  width: 0px;
  transition: 0.5s;
}